.group-list
  .group-list__name
    サンプルグループ１
  .group-list__message
    サンプルユーザー
.group-list
  .group-list__name
    サンプルグループ２
  .group-list__message
    サンプルユーザー
.group-list
  .group-list__name
    サンプルグループ３
  .group-list__message
    サンプルユーザー
.group-list
  .group-list__name
    サンプルグループ４
  .group-list__message
    サンプルユーザー
.group-list
  .group-list__name
    サンプルグループ５
  .group-list__message
    サンプルユーザー
.group-list
  .group-list__name
    サンプルグループ６
  .group-list__message
    サンプルユーザー
.group-list
  .group-list__name
    サンプルグループ７
  .group-list__message
    サンプルユーザー
.group-list
  .group-list__name
    サンプルグループ８
  .group-list__message
    サンプルユーザー
.group-list
  .group-list__name
    サンプルグループ９
  .group-list__message
    サンプルユーザー
