.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
.group-content
  .group-content__name
    サンプルグループ１
  .group-content__member
    サンプルユーザー
