%header
  チャットグループが作成されました。

.main-wrapper

  .side-var
    .side-var__user
      .user-name
        サンプルユーザー
      .user-menu
        =link_to "#" do
          %i.fa.fa-cog
        =link_to "#" do
          %i.fa.fa-edit
    .side-var__group-lists
      =render partial: "groups"

  .main-var
    .main-var__top
      .group-name
        サンプルグループ１
      =link_to "#", class: "edit-button" do
        edit
      .members-list
        MEMBERS: サンプルユーザー

    .main-var__contents
      =render partial: "contents"


    .main-var__footer
      %form.post-message
        %input{type: "text", placeholder: "type a message", class: "message"}
        %label
          %input{type: "file", style: "display: none", class: "image"}
            %i{class: "fa fa-image"}
        %input{type: "submit", value: "Send", class: "button"}
