%header
  チャットグループが作成されました。

.main-wrapper

  .side-var
    .side-var__user
      .user-name
        サンプルユーザー
      .user-menu
        =link_to "#" do
          %i.fa.fa-cog
        =link_to "#" do
          %i.fa.fa-edit
    .side-var__group-lists
      .group-list--top
        .group-list__name
          サンプルグループ１
        .group-list__message
          サンプルユーザー
      .group-list
        .group-list__name
          サンプルグループ２
        .group-list__message
          サンプルユーザー
      .group-list
        .group-list__name
          サンプルグループ３
        .group-list__message
          サンプルユーザー
      .group-list
        .group-list__name
          サンプルグループ４
        .group-list__message
          サンプルユーザー
      .group-list
        .group-list__name
          サンプルグループ５
        .group-list__message
          サンプルユーザー
      .group-list
        .group-list__name
          サンプルグループ６
        .group-list__message
          サンプルユーザー
      .group-list
        .group-list__name
          サンプルグループ７
        .group-list__message
          サンプルユーザー
      .group-list
        .group-list__name
          サンプルグループ８
        .group-list__message
          サンプルユーザー
      .group-list
        .group-list__name
          サンプルグループ９
        .group-list__message
          サンプルユーザー

  .main-var
    .main-var__top
      .group-name
        サンプルグループ１
      =link_to "#", class: "edit-button" do
        edit
      .members-list
        MEMBERS: サンプルユーザー

    .main-var__contents
      .content
        .content__name
          サンプルユーザー
          %span{style: "margin-right: 10px"}
          %span.posted-time
            2018/XX/XX XX:XX:XX
        .content__message
          あ
      .content
        .content__name
          サンプルユーザー
          %span{style: "margin-right: 10px"}
          %span.posted-time
            2018/XX/XX XX:XX:XX
        .content__message
          い
      .content
        .content__name
          サンプルユーザー
          %span{style: "margin-right: 10px"}
          %span.posted-time
            2018/XX/XX XX:XX:XX
        .content__message
          う
      .content
        .content__name
          サンプルユーザー
          %span{style: "margin-right: 10px"}
          %span.posted-time
            2018/XX/XX XX:XX:XX
        .content__message
          え
      .content
        .content__name
          サンプルユーザー
          %span{style: "margin-right: 10px"}
          %span.posted-time
            2018/XX/XX XX:XX:XX
        .content__message
          お
      .content
        .content__name
          サンプルユーザー
          %span{style: "margin-right: 10px"}
          %span.posted-time
            2018/XX/XX XX:XX:XX
        .content__message
          か
      .content
        .content__name
          サンプルユーザー
          %span{style: "margin-right: 10px"}
          %span.posted-time
            2018/XX/XX XX:XX:XX
        .content__message
          き

    .main-var__footer
      %form.post-message
        %input{type: "text", placeholder: "type a message", class: "message"}
        %label
          %input{type: "file", style: "display: none", class: "image"}
            %i{class: "fa fa-image"}
        %input{type: "submit", value: "Send", class: "button"}
