$main_blue: #38aef0;
$side_top: #253141;
$side_bottom: #2f3e51;
$white_font: #ffffff;
$contents_font: #434a54;
$contents_back: #aaaaaa;
$border: #eeeeee;
$group_font: #333333;
$member_date_font: #999999;
$alert_orange: #F35500;
