.content
  .content__name
    サンプルユーザー
    %span.posted-time
      2018/XX/XX XX:XX:XX
  .content__message
    あ
.content
  .content__name
    サンプルユーザー
    %span.posted-time
      2018/XX/XX XX:XX:XX
  .content__message
    い
.content
  .content__name
    サンプルユーザー
    %span.posted-time
      2018/XX/XX XX:XX:XX
  .content__message
    う
.content
  .content__name
    サンプルユーザー
    %span.posted-time
      2018/XX/XX XX:XX:XX
  .content__message
    え
.content
  .content__name
    サンプルユーザー
    %span.posted-time
      2018/XX/XX XX:XX:XX
  .content__message
    お
.content
  .content__name
    サンプルユーザー
    %span.posted-time
      2018/XX/XX XX:XX:XX
  .content__message
    か
.content
  .content__name
    サンプルユーザー
    %span.posted-time
      2018/XX/XX XX:XX:XX
  .content__message
    き
