.notification {
  .notice {
    background-color: $main_blue;
    color: $white_font;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white_font;
    text-align: center;
  }
}
