@import "variable";

.main-wrapper {
  .main-var {
    width: calc(100vw - 300px);
    float: left;
    &__contents {
      overflow: scroll;
      height: 610px;
      background-color: $contents_back;
      padding: 0 40px;
      .content {
        &__name {
          font-size: 16px;
          color: $contents_font;
          padding: 40px 0 10px 0;
          font-weight: bold;
          display: inline-box;
          .posted-time {
          color: $member_date_font;
          font-size: 12px;
          font-weight: normal;
          }
        }
        &__message {
          font-size: 14px;
          color: $contents_font;
        }
      }
    }
  }
}
