.main-wrapper {

  .side-chat {
    width: 300px;
    float: left;

    &__user {
      background-color: $side_top;
      height: 127px;
      line-height: 127px;
      padding: 0 20px;

      .user-name {
        width: 200px;
        color: $white_font;
        font-weight: bold;
        float: left;
      }

      .user-menu {
        a {
          color: $white_font;
          text-decoration: none;
          float: right;
        }
      }
    }
    &__groups {
      height: 700px;
      background-color: $side_bottom;
      padding: 20px 20px 0 20px;
      overflow: scroll;

      .group-content {
        
        &__name {
          font-size: 15px;
          color: $white_font;
          padding-bottom: 5px;
        }

        &__member {
          font-size: 11px;
          color: $white_font;
          padding-bottom: 40px;
        }
      }
    }
  }
}
