$main_blue: #38AEF0;
$side_top: #253141;
$side_bottom: #2f3e51;
$white_font: #FFFFFF;
$contents_font: #434A54;
$contents_back: #AAAAAA;
$border: #eeeeee;
$group_font: #333333;
$member_date_font: #999999;
