@import "font-awesome";
@import "./reset";
@import "config/color";
@import "modules/user";
@import "modules/notification";
@import "modules/side-chat";
@import "modules/main-chat";
@import "modules/main-top";
@import "modules/main-contents";
@import "modules/main-footer";
